/*GLOBAL*/

.container,
.containe-fluid {
    margin: auto;
}
}


/*HOME*/


/*ABOUT*/

#about.titre-container{
    width: 50%;
    margin: auto;
}




/*ESPACES*/


/*SERVICES*/


/*CONTACT*/


/*FOOTER*/
