/*GLOBAL*/

.container,
.containe-fluid {
    margin: auto;
}

.titre-container h1 {
    text-align: center;
}

.tarif-container {
    text-align: center;
}

.wraper-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#35383a;
}
h1, h2{
    font-family: 'Lato', sans-serif;
    margin-bottom: 36px;
}

p{
    font-family: 'Open Sans', sans-serif;
}



/*HOME*/

#home .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#home {
    background: #1fa597;
    height: 100vh;
}

.navbar-brand {
    padding: 5px 15px
}


.home-logo .img-responsive{
    height: 350px;
}

.home-img {
    display: inline;
}

.home-headings {
    text-align: center;
    color: white;
}

#home .btn {
    background-color: #f9a02e;
    font-size: 15px;
    line-height: 2.8;
    padding: 0 1.5em;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 36px;
    transition: all 0.4s;
}

.navbar-brand .img-responsive{
    height: 40px;
}


.navbar-custom {
    background-color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a {
        color: #35383a;
}
/*ABOUT*/

#about .titre-container {
    margin: auto;
    padding-top: 36px;
    line-height: 36px;
}

#about .img-responsive{
        max-height: 350px;
        padding: 36px;
        padding-right: 50px;
}

/*ESPACES*/


/*TARIFS*/

#tarifs .container-fluid {
    background-color: #FFF;
    color: #1b244a;
}

.tarif-ico {
    max-width: 100px;
    height: auto;
}

.tarif-card {
    border: 0.5px solid lightgray;
    width: 60%;
    margin: 50px auto 50px auto;
    padding: 15px;
    border-radius: 5px;
    color: #1b244a;
    box-shadow: 17px 25px 28px -4px rgba(0, 0, 0, 0.21);
}

.tarif-card h3 {
    font-size: 2em;
    font-weight: 900;
    color: #1b244a;
    margin: 15px;
}

.tarif-card p,
.em-text {
    color: grey;
    font-size: 1.5em;
    margin: 15px
}

.tarif-card span {
    display: block;
}

.preferential .tarif-ico {
    max-width: 200px;
    height: auto;
    margin: 15px
}

.from {
    color: grey;
    font-size: 1em;
    margin: 15px
}

.price {
    font-size: 2em;
    color: #1b244a;
    font-weight: 900;
    margin: 15px
}

.tarif-card button {
    padding: 10px;
    margin: 15px;
}

@media screen and (max-width:1000px) and (min-width:640px) {
    .tarif-card {
        width: 90%;
    }
}

@media screen and (max-width:640px) {
    .tarif-card {
        width: 100%;
    }
}


/*SERVICES*/

.section-group {
    text-align: center;
}


/*BOOKING*/
.booking-container{
    background-color:  #35383a;
    padding : 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titre-container-footer h1 {
   color: white;
   text-align: center;
}

.text-container-footer{
    color: white;
 }

/*FOOTER*/