/*GLOBAL*/

.container,
.containe-fluid {
    margin: auto;
    margin-top :5vh;
    margin-bottom: 5vh; 
}

.titre-container h1 {
    text-align: center;
    font-weight: 900;
}

.tarif-container {
    text-align: center;
}

.wraper-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#35383a;
}
h1, h2{
    font-family: 'Lato', sans-serif;
    margin-bottom: 36px;
    text-align: center;
}

h1{
    font-weight: 900;
}

h2{
    font-size: 24px;
    font-weight: 200;
}

p{
    font-family: 'Open Sans', sans-serif;
}


/*HOME*/

#home .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#home {
    background: #1fa597;
}

.navbar-brand {
    padding: 5px 15px
}

.navbar-default .navbar-nav > li > a {
    color: #35383a;
    font-weight: 900;
}



.home-img {
    display: inline;
}

.home-headings {
    text-align: center;
    color: white;
}
#videoDiv {width: 100%;position: relative;}
#videoBlock {
    width: 100%; 
    height: 100vh;  
    display: flex;  
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    z-index: -1;
    object-fit: cover;
}


#videoMessage {width: 100%; height:100%; position: absolute; top: 20vh; left: 0;}

#videoMessage {color:white;z-index:99;overflow: hidden;}

/* Default hide the video on all devices */
#video{display:none}

/* Default display the image to replace the video on all devices */
#videosubstitute{display:block; width:100%;height:auto}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}

#home .btn {
    background-color: #f9a02e;
    font-size: 20px;
    line-height: 2.8;
    padding: 0 1.5em;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 36px;
    transition: all 0.4s;
    margin-top:60px;
}

#home .btn a{
color: white;
text-decoration: none;
}
.navbarcontainer{
    margin-top :1vh;
    margin-bottom: 1vh;
}

.navbar-brand .img-responsive{
    height: 40px;
}


.navbar-custom {
    background-color: #fbfbfb;
}
.navbar-default .navbar-nav > li > a {
        color: #35383a;
}
/*ABOUT*/

#about .container-fluid .container {

}

#about .titre-container {
    margin: auto;
    padding-top: 36px;
    line-height: 4vh;
}

#about .img-responsive{
        max-height: 350px;
        padding: 36px;
        padding-right: 50px;
}

/*ESPACES*/
#espaces {
    background-color: rgba(217, 223, 222, 0.2);
    background-image: url('../img/dots-pattern.png') ;
}

#espaces .container-fluid .container {


    
}

.icon-espaces {
    max-width: 150px;
}


#espaces h3 {
    font-weight: 900;
}


/*TARIFS*/

#tarifs .container-fluid .container {
}

#tarifs .container-fluid {
    background-color: #FFF;
    
}

.tarif-ico {
    max-width: 100px;
    height: auto;
}

.tarif-card {
    border: 0.5px solid lightgray;
    width: 60%;
    margin: 50px auto 50px auto;
    padding: 15px;
    border-radius: 5px;
    color: #1b244a;
    box-shadow: 17px 25px 28px -4px rgba(0, 0, 0, 0.21);
}

.tarif-card h3 {
    font-size: 2em;
    font-weight: 900;
    color: #1b244a;
    margin: 15px;
}

.tarif-card p,
.em-text {
    color: grey;
    font-size: 1.5em;
    margin: 15px
}

.tarif-card span {
    display: block;
}

.preferential .tarif-ico {
    max-width: 200px;
    height: auto;
    margin: 15px
}

.from {
    color: grey;
    font-size: 1em;
    margin: 15px
}

.price {
    font-size: 2em;
    color: #1b244a;
    font-weight: 900;
    margin: 15px
}

.tarif-card button {
    padding: 10px;
    margin: 15px;
}

@media screen and (max-width:1000px) and (min-width:840px) {
    .tarif-card {
        width: 90%;
    }
    .preferential .tarif-ico {
        max-width: 100px;
    }
}

@media screen and (max-width:840px) {
    .tarif-card {
        width: 100%;
    }
    .preferential .tarif-ico {
        max-width: 100px;
    }
}


/*SERVICES*/

#services .container-fluid .container {
    height: 80vh;
    padding-top: 70px;
    
}

#services .section-group {
    margin-top: 50px; 
}

#services {
    height: 50vh;
    
}

#services h3{
    font-weight: 900;
}

.section-group {
    text-align: center;
}

.icon-services {
    font-size: 100px !important;
    color: #FFA126;
}


/*BOOKING*/
.booking-container{
    background-color:  #35383a;
    padding : 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5vh;
}

.titre-container-footer h1 {
   color: white;
   text-align: center;
}

.text-container-footer{
    color: white;
    line-height: 36px;
 }

#booking .fa{

    padding-right:10px;
}

#booking a{
    color : #f9a02e;
}

.btn-booking {
    color: #fff;
    background-color: #f9a02e;
    border-color: #f9a02e;
}

#booking{
    
}

/*FOOTER*/

.footer_logo{
    position: relative;
    margin-bottom: 100px;
}

.footer_logo img{
    height: 10vh;
    text-align: center;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50px;
}

.footer-bottom {
    background-color: #1E1F20;
    min-height: 30px;
    width: 100%;
}

.container-footer{
    margin-top:0;
    margin-bottom: 0;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.love{
    color: #f9a02e;
}

#scroll_to_top {
    position: fixed;
    width: 10px;
    height: 10px;
    bottom: 100px;
    right: 70px;
    display: none;
    }